@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.Bebas {
  font-family: "Bebas Neue";
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: #0a0a0a; /* Change this to your desired background color */
}

::-webkit-scrollbar-thumb {
  background-color: #a4db73; /* Change this to your desired scrollbar color */
}

/* Firefox Scrollbar */
body {
  scrollbar-color: #a4db73 #0a0a0a; /* Change this to your desired scrollbar color and background color */
}

/* Optional: Animation */
::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #87c159; /* Change this to your desired hover color */
}
