@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: #f5f0e6;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body {
  scrollbar-color: #000000 #f5f0e6;
}

a {
  color: inherit;
  text-decoration: underline;
}
